<%- include('./partials/header') %>
    <div class="main">
        <h1>Welcome to my <%= title %></h1>
            <div class="main-posts">
                <% messages.forEach((msg) => { %>
                    <div class="posts">
                        <h3><strong><a href="/<%= msg.id %>"><%=msg.text %></a></strong></h3>
                        <p>Created by: <em><%= msg.user %></em></p>
                        <small><%= msg.added %></small>
                    </div>
                      <%  }) %>
            </div>
          <div class="new-post">
            <a href="/newPost"><button>New Post</button></a>
          </div>
    </div>
    <%- include('./partials/footer') %>