<%- include('./partials/header') %>
    <div class="main">
        <h2><%= post.text %></h2>
        <p>By: <%= post.user %></p>
        <small>Created date: <%= post.added %></small>
        <div class="back-btn"><a href="/"><button>Back</button></a></div>
    </div>
 <%- include('./partials/footer') %>